@{
    Layout = "_AdminLayout";
}
@model IEnumerable<Admin_ReviewCourseDto>

@if (TempData["Message"] != null)
{
    <script>
        iziToast.success({
            title: 'Success!',
            message: '@TempData["Message"]',
            position: 'topRight'
        });
    </script>
}
@if (TempData["Error"] != null)
{
    <script>
        iziToast.error({
            title: 'Error!',
            message: '@TempData["Error"]',
            position: 'topRight'
        });
    </script>
}
<div class="pc-content">
   
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ Recent Users ] start -->
        <div class="col-xl-12 col-md-12">
            <div class="card Recent-Users">
                <div class="card-header">
                    <h5>Recent Users</h5>
                </div>
                <div class="card-body px-0 py-3">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                @foreach (var course in Model)
                                {
                                    <tr class="unread">
                                        <td><img class="rounded-circle" style="width: 60px" src="@(course.CourseImgUrl != null ? course.CourseImgUrl : "/images/default-course.jpg")" alt="activity-user" /></td>
                                        
                                        <td>
                                            <a asp-area="Admin" asp-controller="ReviewCourse" asp-action="Detail" asp-route-courseId="@course.CourseId">
                                                <h6 class="mb-1">@course.CourseName</h6>
                                                <p class="m-0">@course.Description</p>
                                            </a>
                                        </td>
            
                                        <td>@course.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@course.CreatorName</td>
                                        <td>
                                            <h6 class="text-muted"><i class="fas fa-circle text-success f-10 m-r-15"></i>@course.CreatedAt.ToString("dd/MM/yyyy HH:mm")</h6>
                                        </td>
                                        <td>
                                              @* <a href="#!" class="badge me-2 bg-brand-color-2 text-white f-12">Reject</a> *@
                                             @* <a href="#!" class="badge me-2 bg-brand-color-1 text-white f-12">Detail</a> *@
                                            <a class="badge me-2 bg-brand-color-1 text-white f-12" asp-area="Admin" asp-controller="ReviewCourse" asp-action="Detail" asp-route-courseId="@course.CourseId">
                                                Detail
                                            </a>
                                        </td>
                                    </tr>
                                }                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Recent Users ] end -->
    </div>
    <!-- [ Main Content ] end -->
</div>
